:root {
    --bg-body: hsl(0, 0%, 8%);
    --accent: hsl(193, 100%, 50%);
    --text: hsl(0, 100%, 100%);

    --fs-88: 5.5rem;
    --fs-48: 3rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: "Space Grotesk", sans-serif;
    line-height: 1.3;
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-body);
    color: var(--text);
}

.hero {
    font-size: var(--fs-88);
}

mark.hero__name {
    color: var(--accent);
    background-color: var(--bg-body);
}